* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

main {
    width: 500px;
    height: 250;
}

header {
    background-color: red;
    border-radius: 15px 15px 0px 0px;
    text-align: left;
    color: white;
    height: 120px;
    font-size: 45px;
    padding-top: 8px;
    font-family: "Courier";
    padding-left: 20px
}

.hello {
    font-style: italic;
}

.my-name-is {
    font-style: italic;
}

section {
    height: 80px;
    text-align: center;
    font-size: 50px;
    padding-top: 8px;
}

.name {
    background-color: white;
}

footer {
    background-color: red;
    border-radius: 0px 0px 15px 15px;
    height: 20px;
    font-size: 45px;
    padding-top: 8px;
}

header img {
    height: 90px;
    float: right;
    right: 30px;
    top: 6px;
    position: relative;
    display: flex;
}